<section class="bg-dark">
  <div class="row">
     <div class="col-12 mt-5">
      <h1 class="text-center text-light fw-bold">Contact</h1>
     </div>
  </div>
  <div class="row">
    <div class="col-md-6 p-3">
      <form action="https://formspree.io/f/mblraygr" method="POST">
        <div class="mb-3 p-2">
            <input type="text" name="name" id=""  placeholder="Name" class="form-control form-control-lg"/>
            
        </div>
        <div class="mb-3 p-2">
          <input type="email" name="name" id=""  placeholder="Email" class="form-control form-control-lg"/>
          
      </div>
        <div class="mb-3">
            <textarea type="text" name="reason" id="" rows="6" cols="" class="form-control form-control-lg w-100 h-25"
              placeholder="Message"> </textarea>
        </div>
        <div class="d-grid mb-2"><button class="btn btn-info text-white">Submit</button></div>
    </form>
    </div>
    <div class="col-md-6 p-3">
      <ul class="text-decoration-underline">
        <li><i class="fa-solid fa-location-dot text-light fa-3x p-1 m-1"></i><span class="text-light display-6 p-1 m-1 text-decoration-underline text-uppercase">Hyderabad, Telangana</span></li>
        <li><i class="fa-solid fa-square-phone text-light fa-3x p-1 m-1"></i><span class="text-light display-6 p-1 m-1 text-decoration-underline">+91 8341460490</span></li>
        
      </ul>
<div class="text-light m-3 p-2">
  <a href="https://github.com/saipranaymeesala"><i class="fa-brands fa-github fa-4x p-4 text-light"></i></a>
  <a href="https://www.linkedin.com/in/sai-pranay-meesala"><i class="fa-brands fa-linkedin fa-4x p-4 text-light"></i></a>
</div>
    </div>
  </div>
</section>
<!-- <div class="contact-container">
<div class="container mt-3">
  <h2 class="text-center mb-4">Contact Me</h2>
  <div class="card shadow-sm p-4 bg-secondary">
    <form action="https://formspree.io/f/mblraygr" method="POST">
      <div class="mb-3 p-2">
          <input type="text" name="name" id=""  placeholder="Name" class="form-control form-control-lg"/>
          
      </div>
      <div class="mb-3 p-2">
        <input type="email" name="name" id=""  placeholder="Email" class="form-control form-control-lg"/>
        
    </div>
      <div class="mb-3">
          <textarea type="text" name="reason" id="" rows="6" cols="" class="form-control form-control-lg w-100 h-25"
            placeholder="Message"> </textarea>
      </div>
      <div class="d-grid"><button class="btn btn-info text-white">Submit</button></div>
  </form>
  </div>
</div>
</div>

 -->
